body{
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.retro-font-1 {
    font-family: 'Paperozi';
    font-size: 64px;
}

.Box-1 {
    display: flex;
    width: 128px;
    height: 64px;
    background-color: black;
    color: lawngreen;
}