@font-face {
    font-family: 'SejongJaeumiMoeumiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-3@1.0/SejongJaeumiMoeumi-Bold.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;          
  background-color: #f4f4f4;
}

#text {
  font-size: 2rem;
  font-weight: bold;
}